<div class="row">

  <div class="col-md-4">
    <div class="card" >
      <div class="card-header">My Exercises</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of Model.workoutExercises" class="list-group-item" (click)="exerciseDone($event, exercise)">
          Exercise: {{exercise.exerciseName}}<br>
          Instruction: {{exercise.description}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card" >
      <div class="card-header">Done Exercises</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of Model.doneExercises" class="list-group-item">
          {{exercise.exerciseName}}<br>
          {{exercise.description}}
          <span class="badge badge-light">~{{exercise.gymgoerName}}</span>
        </li>
      </ul>
    </div>
  </div>

</div> 
