<div class="row" *ngIf="!Me">
  <input #name /><button (click)="login(name.value)" >Sign-In</button>
</div>

<div class="row" *ngIf="Me">

  <div class="col-md-4">
    <div class="card" >
      <div class="card-header" style="background-color:#d4edda">My Exercises ({{Me.name}})</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of Me.myExercises" style="cursor: pointer;"  
          (click)="selectExercise($event, exercise)"
          [ngClass]="{ enabled: !myWorkoutExercise() }"
          class="list-group-item">
          {{exercise}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card bg-success mb-2" >
      <div class="card-header text-white">Done Exercises</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of Model.workoutExercises" 
          [ngClass]="{ 'list-group-item-success': exercise.chosen }"
          class="list-group-item d-flex justify-content-between align-items-center ">
          {{exercise.text}}
          <span *ngIf="(!iAmTheCoach() && !chosenExercise())" class="badge badge-light">{{exercise.gymgoerId}}</span>
          <!-- <span *ngIf="chosenExercise()" class="badge badge-primary">{{exercise.gymgoerId}}</span>
          <button *ngIf="iAmTheCoach() && !chosenExercise()"
            (click)="exercise.chosen = true"
            class="btn btn-sm btn-primary">
            Choose Exercise
          </button> -->
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4" >
    <div class="card" >
      <div class="card-header" style="background-color:#d4edda">All Gym Goers</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let gymgoer of Model.gymgoers" class="list-group-item">
          <img style="height: 16px; width: 16px" class="rounded">
          {{gymgoer.name}}
        </li>
      </ul>
    </div>
  </div>

</div> 
