<!-- TOP-SLIDER -->
<div id="topSlider" class="carousel slide" data-ride="carousel">
  <carousel class="carousel swiper-slide">
    <slide>
      <img class="first-slide" [src]="Slider.picture[0]" alt="First slide">
      <div class="carousel-caption text-left">
        <h1>{{Slider.heading[0]}}</h1>
        <p>{{Slider.text[0]}}</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
      </div>
    </slide>
    <slide>
      <img class="second-slide" [src]="Slider.picture[1]" alt="Second slide">
      <div class="carousel-caption">
        <h1>{{Slider.heading[1]}}</h1>
        <p>{{Slider.text[1]}}</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
      </div>
    </slide>
    <slide>
      <img class="third-slide" [src]="Slider.picture[2]" alt="Third slide">
      <div class="carousel-caption text-right">
        <p>{{Slider.text[2]}}</p>
        <h1>{{Slider.heading[2]}}</h1>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
      </div>
    </slide>
  </carousel>
</div>